<%= form_for([@artist, Song.new]) do |f| %>
  <div class="form-group" id="formgroup-title">
    <%= f.text_field :name, placeholder: "Song title", class: 'form-control' %>

    <% if song.errors.any? %>
      <% song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
