@import "bootstrap-sprockets";
@import "bootstrap";

img {
  display:       block;
  max-width:     300px;
  max-height:    300px;
  width:         auto;
  height:        auto;
}

.header {
  text-align: center;
}

.artist-image {
  padding: 20px;
}

.artist-songs {
  padding: 20px;
}

.artist-buttons {
  padding: 20px;
}

.artist-form {
  padding: 20px;
}
